html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* CSS STYLE */

body {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #F6E6EB;
}

.nav-list {
    font-family: fantasy;
    font-size: 25px;
}

.container {
    max-width: 1500px;
    margin: 0 auto;
}

.container {
    max-width: 1500px;
    margin: 0 0;
}

.header-class {
    background-color: pink;
}

/* Headings */
h1 {
    text-align: center;
    position: absolute;
    top: 28%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: red;
    font-size: 70px;
    margin-bottom: 20px;
    font-weight: bold;
}

.h2-class {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 40px;
    margin-bottom: 20px;
    font-weight: bold;
}

h2 {
    color: black;
    font-size: 60px;
    margin-bottom: 20px;
    font-weight: bold;
}
h3 {
    color: black;
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: bold;
}

span {
    vertical-align: middle;
}

.im-play {
    vertical-align: middle;
}

/* adding color and padding to nav section */

nav {
    padding: 10px;
}

/* nav li center */

nav li {
    display: block;
    text-align: center;
    padding: 12px 0;
    
}

/* remove underline and change colour */

nav li a {
    color: black;
    text-decoration: none;
}

/* color lists when hover */

nav li:hover a {
    color: red;
    text-decoration: underline;
}

nav img {
    width: 70%;
    text-align: center;
}

.media1 {
    width: 10.5%;
}

.media2 {
    width: 5%;
}

.container nav li {
    display: block;
    text-align: center;
    padding: 12px 0;
}


/* adjust size */

section {
    width: 80%;
    margin: 0 auto;
}

footer {
    width: 100%;
}

footer {
    padding-left: 100px;
}

.banner {
    position: relative;
}

.banner img {
    width: 100%;
}

.second-banner {
    position: relative;
}

.second-banner img {
    width: 100%;
}

/* paragraphs */

p {
    font-family: cursive;
    line-height: 1.6;
}

.banner p {
    color: white;
    text-align: center;
    font-size: 1rem;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.second-banner p {
    color: black;
    text-align: center;
    font-size: 1rem;
    position: absolute;
    top: 74%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.blackbutton1 {
    text-decoration: none;
    background-color: #222;
    color: white;
    padding: 15px;
    margin-left: 10px;
    vertical-align: middle;
    display: inline-block;
    position: absolute;
    top: 70%;
    left: 30%;
    transform: translate(-70%, -50%);
}

.blackbutton2 {
    text-decoration: none;
    background-color: #222;
    color: white;
    padding: 15px;
    margin-left: 10px;
    vertical-align: middle;
    display: inline-block;
    position: absolute;
    top: 70%;
    left: 70%;
    transform: translate(-70%, -50%);
}

nav li {
    flex: 1;
}

.nav-list {
    display: flex;
    align-items: center;
}

.media1 {
    position: absolute;
    left: 80%;
    top: 210%;
}

.media2 {
    position: absolute;
    left: 85.5%;
    top: 215.3%;
}





/* ANIMATIONS */

.blackbutton1:hover {
    transform: scale(2);
  transition: 0.5s ease-in-out;
}

.blackbutton2:hover {
    transform: scale(2);
  transition: 0.5s ease-in-out;
} 

.media1:hover {
    transform: scale(2);
    transition: 0.2s ease-in-out;
}

.media2:hover {
    transform: scale(2);
    transition: 0.5s ease-in-out;
}

.copyright-text {
    position: absolute;
    left: 5%;
    top: 217%;
}

    /* CONTACT PAGE */



div.contact {
    /* border of contact section */
    background-color: pink;
    border: 1px solid black;
    padding: 20px;
    margin-top: 5%;
}

div.contact .blocklabel {
    display: block;
    font-size: 1.1rem;
    margin-bottom: 0.25rem;
}

input.maxwidth {
    /* makes input under name and email to be 100% width */
    margin-bottom: 0.75rem;
    padding-bottom: 0.5rem;
    width: 100%;
}

textarea#message {
    /* making message input size bigger and no adjustable  */
    padding-bottom: 3rem;
    resize: none;
    width: 100%;
}

button {
    /* adding border, font-size, etc., to button in contact section */
    background: none;
    border: 1px solid black;
    font-size: 0.7rem;
    margin-top: 0.7rem;
    padding: 0.7rem;
}

.location-class {
    position: absolute;
    top: 95%;
    left: 1.5%;
}

.about-sec {
    position: absolute;
    left: 5%;
    top: 30%;
}

.story-img {
    width: 100%;
}



